body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  #popup {
    padding: 10px;
    max-width: 300px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
  
  ol {
    padding: 0;
    list-style-position: inside;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .ingredient, .direction {
    margin-bottom: 10px;
  }
  
  